<h1>Products and Categories stats</h1>


<div class="panel panel-default products">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Database Records</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Products</td>
        <td><%= @products %></td>
      </tr>
      <tr>
        <td>Categories</td>
        <td><%= @categories %></td>
      </tr>
    </tbody>
  </table>

  </div>
